* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

html {
    scroll-behavior: smooth;
}


/* navbar */

.nav-item {
    font-size: larger;
    justify-content: space-around;
    margin: 0 2rem;
}

.navbar-text {
    color: black;
    background: linear-gradient(360deg, #1c2826, #b9baa3);
    opacity: 0.7;
}

.nav-item a {
    color: white;
    font-weight: bold;
}

.nav-item:hover {
    background-color: #1c2826;
    border-radius: 5px;
    transition: all 1s;
}


/* navbar end  */

body {
    background: linear-gradient(90deg, #1c2826, #b9baa3);
}


/* our gallery start */

.gallery-text {
    font-weight: bold;
    text-shadow: 3px 3px 3px grey;
}

.img-hover img {
    box-shadow: 2px 2px 10px #000;
}

.img-hover img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 20px #000;
    transition: all 0.8s;
}


/* our gallery end */


/* choose section start  */

.services-section {
    background: url(mumbai.jpg);
    background-size: cover;
    padding: 60px 0;
}

.inner-width {
    widows: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 50px;
}

.section-title:hover {
    transition: all .5s linear;
    color: skyblue;
    text-shadow: 3px 3px 5px gray;
}

.border {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    margin: 40px 0;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transform: .3s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.service-box:hover .service-icon {
    background: #82ccdd;
    color: #ddd;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}


/* choose section end */


/* footer start  */

footer {
    background-color: #010413;
    color: skyblue;
    position: relative;
}

.up {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: x-large;
    padding: 5px;
}

.up:hover {
    background-color: white;
    color: orange;
    transition: color .5s;
    border-radius: 30px;
}

.footer-text {
    text-transform: uppercase;
}

.footer-text div h1 {
    font-size: larger;
}

.f-text li a {
    text-decoration: none;
    color: white;
}

.f-text li a:hover {
    font-size: larger;
    transition: all .5s;
    padding: 10px;
}

.f-text li {
    list-style-type: none;
    padding: 10px;
}

.ff-text {
    display: flex;
    font-size: x-large;
}

.ff-text li {
    list-style-type: none;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}

.ff-text li a {
    text-decoration: none;
}

.ff-text li:hover {
    background-color: white;
    border-radius: 50%;
    font-size: xx-large;
    transition: all .5s;
}

.image {
    width: 100%;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-moz-keyframes spin {
    50% {
        -moz-transform: rotateY(90deg);
    }
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotateY(90deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}


/* footer end  */


/* -------------------------------------------- */


/* media queries */

@media screen and (max-width:960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width:680px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .service-box {
        max-width: 100%;
    }
}